{{ range .ReviewerIDs -}}
\colorlet{color{{.}}}{black!15!white}
{{ end -}}
\colorlet{colorRevDefault}{black!15!white}


\newcommand{\response}[{{ .LenHeaders }}]{
    \begin{tcolorbox}[colbacktitle=#1, title=\textbf{#2}, colback=white, coltitle=black]
    \textbf{Comment:} #3
    \tcblower
    {{- range .Headers}}
    {{- if gt .Idx 3}}
    {{ if gt .Idx 4}}\\ {{ end}}\textbf{ {{ .Name }}:} #{{- .Idx }}
    {{- end }}
    {{- end }}
\end{tcolorbox}


{{ range .Responses}}
\response{
  {{ if .ReviewerID}}color{{- .ReviewerID}}{{ else }}colorRevDefault{{ end }}
}
{{- range .Records}}
{ % {{- .Header }}
{{ .Text }}
}
{{- end }}
{{ end }}

\end{document}
