#import "@preview/showybox:2.0.4": showybox

{{ range .ReviewerIDs -}}
#let color{{.}} = gray.lighten(60%)
{{ end -}}
#let colorRevDefault = gray.lighten(60%)


#let response(
  color: [],
  ref:[],
  ..body,
) = showybox(
  frame: (
    title-color: color,
  ),
  title-style: (
    color: black,
    weight: "regular",
    align: left,
  ),
  title: ref,
  ..body
)

#align(center)[
    Response to reviewers
    = MY PAPPER TITLE
    Andreas Bauer

    #datetime.today().display()
  ]

Dear Editor,

First of all, we would like to thank you and the reviewers for the time and effort that you have put into providing us with this detailed, valuable, and in-depth feedback.

All reviewer comments...

We hope you find the new version of the manuscript to your satisfaction and look forward to any further feedback you may provide.

Best regards,

YOUR NAME
#pagebreak()

{{- range .Responses }}
#response(
  color: color{{- .ReviewerID}},
  ref: [ ID: {{ .ID}} ],
{{- range .Records}}
  [
    *{{- .Header }}*: {{ .Text}}
  ],
{{- end }}
)
{{ end }}

