<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rejoinderoo</title>
    <link rel="stylesheet" href="/css/output.css" />
    <script
      src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js"
      integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <h1>Rejoinderoo</h1>
    </header>

    <main>Welcome to Rejoinderoo!</main>

    <footer>
      <p>Created with Go + HTMX by Andi</p>
    </footer>
  </body>
</html>
