#import "@preview/showybox:2.0.4": showybox

{{ range .ReviewerIDs -}}
#let colorRev{{.}} = gray.lighten(60%)
{{ end -}}
#let colorRevDefault = gray.lighten(60%)

#let responses = (
  (
    id: "Rev1.1",
    comment: [
      Mein Kommentar

      Mehr dazu später!
    ],
    response: [was ist da "oder" los],
    color: gray,
  ),
  (id: "Rev1.2", comment: "Some comment", response: "Some response", color: colorRev1),
  (id: "Rev1.3", comment: "Some comment", response: "Some response", color: colorRev2),
  (id: "Rev1.4", comment: "Some comment", response: "Some response", color: blue.lighten(60%)),
)

== Test

#for res in responses [
#showybox(
  frame: (
    border-color: gray.darken(50%),
    title-color: res.color,
  ),
  title-style: (
    color: black,
    weight: "regular",
  ),
  title: res.id,
  [#strong[Comment]: #res.comment],
  [#strong[Response]: #res.response],
  [#strong[Action]: #lorem(20)],
)
]
