name: Go

on:
  push:
    branches: ["main", "v2go"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Install dependencies
        run: make deps

      - name: Build
        run: make build

      - name: Test
        run: make test
